.container {
    align-items: center;
    justify-content: center;
    background: #dcdcdc;
    width: 60%;
    box-sizing: border-box;
    display: block;
    flex-wrap: wrap;
    padding-top: 1rem;
    position: center;
    margin: auto;
}

.container .error {
    color: white;
    background-color: #7B68EE;
    border: 1px solid #7B68EE;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}